.fondo-aside{
    background-color: #f5f0e3;
    width:25%;
    vertical-align: top;
}
.formato-noticias{
    font-size:20px;
    text-decoration: none;
    font-family: 'Signika Negative', sans-serif;
    color:black;
}
.dimension-tabla-aside{
    width:100%;
}
.separar-noticias{
    padding-bottom: 30px;
    text-align: center;
    border:1px solid white;
}
.titulo-aside{
    font-size: 32px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: 'Patua One', cursive;
}
.dimension-imagen-aside{
    width:100%;
    height:210px;
}
/*ASIDE PARTE DE NOTICIA 1*/

.video-noticia{
    width:100%;
    height:250px;
}
.separar-videos{
    padding-bottom: 30px;
    text-align: center;
    border:1px solid white;
}
.formato-videos{
    color:#40bfc1;
    font-size:20px;
    text-decoration: none;
    font-family: 'Signika Negative', sans-serif;