.fondo-footer{
    background-color: #40bfc1;
    width:100%;
}
.letra-footer{
    color:white;
    text-align: center;
    width:100%;
    font-family: 'Signika Negative', sans-serif;
}
.dimension-iconos{
    width:30px;
    height:30px;
    margin:30px;
}