.fondo-titulo{
    background-color: #f0134d;
    margin: 0 auto;
    text-align: center;
    width:100%;
    padding-top: 50px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 20px outset #f2a8ff;

}
.letra-texto{
    font-size: 100px;
    font-family: 'Molle', cursive;
    color:rgb(129, 237, 241);
}
.letra-reposteria{
    font-size: 80px;
    font-family: 'Patua One', cursive;
    color:rgb(246, 169, 133);
}
