.fondo-nav{
    background-color: #f5f0e3;
    width:15%;
    vertical-align: top;
}

.tabla-nav {
    width: 100%;
}
.texto-nav{
    color:white;
    text-decoration: none;
    font-family: 'Signika Negative', sans-serif;
}
.borde-nav{
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 1px solid #000000;
    background-color: rgb(112, 81, 69);
    width:90%;
    height:70px;
    line-height: 70px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Signika Negative', sans-serif;
}
.titulo-nav{
    font-size: 25px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: 'Patua One', cursive;
    color:darkred;
}

.borde-nav:hover {
    height: 80px;
    width: 95%;
}

