.fondo-nav{
    background-color: #ff6f5e;
    width:20%;
}
.formato-lista{
    font-size:20px;
    text-decoration: none;
    color:#f0134d;
    font-weight: bolder;
    margin-left: 20px;
}
.tabla-nav{
    vertical-align: top;
}
.separar-lista{
    padding-bottom: 30px;
    background-color: #40bfc1;
}
.letra-nav{
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    color:#f0134d;
    margin:0 auto;
    text-align: center;
    padding-bottom: 70px;
    padding-top:70px;
}
.imagen-nav{
    width:60px;
    height:60px;
}
.dimension-tabla-nav{
    width:100%;
}
