.modo-grid-nav{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(4, auto) ;
    margin: 0 auto;
    margin-bottom: 100px;
}

.texto-nav1{
    color:white;
    text-decoration: none;
    font-family: 'Signika Negative', sans-serif;
}
.borde-nav1{
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 1px solid #000000;
    background-color: rgb(112, 81, 69);
    width:90%;
    height:70px;
    line-height: 70px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Signika Negative', sans-serif;
}
.titulo-nav1{
    font-size: 25px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: 'Patua One', cursive;
    color:darkred;
}
/*ASIDE*/

.formato-noticias1{
    text-decoration: none;
    font-family: 'Signika Negative', sans-serif;
    color:darkred;
}
.separar-noticias1{
    padding-bottom: 30px;
    text-align: center;
}
.titulo-aside1{
    font-size: 25px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: 'Patua One', cursive;
    color:darkred;
}
.dimension-imagen-aside1{
    width:85%;
    height:170px;
}
.modo-grid-aside{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(3, auto) ;
    margin: 0 auto;
}
/**/
.dimension-imagen-destacada1{
    width:600px;
    height:500px;
    border-radius: 43px 43px 43px 43px;
    -moz-border-radius: 43px 43px 43px 43px;
    -webkit-border-radius: 43px 43px 43px 43px;
    border: 0px solid #000000;
    padding:30px;
}
.subtitulo-section-index1{
    font-size: 25px;
    color: darkred;
    font-family: 'Bad Script', cursive;
    font-weight:bolder;
    font-style:italic;
    text-align: center;
    margin-top:100px;
}
.subtitulo-section2{
    font-size: 25px;
    color: darkred;
    font-family: 'Bad Script', cursive;
    font-weight:bolder;
    font-style:italic;
    margin-bottom:100px;
}
.letra-section-index1{
    font-size: 25px;
    color: darkred;
    font-family: 'Bad Script', cursive;
    font-weight:bolder;
    font-style:italic;
    text-align: center;
}
.titulo-section-index1{
    font-size: 30px;
    color:darkred;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: 'Bad Script', cursive;
    font-weight:bolder;
    font-style: italic;
    text-align: center;
}
.texto-section-index1{
    color:darkred;
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
    margin-bottom: 100px;
}
.dimension-imagen-index1{
    width:300px;
    height:200px;
    border-radius: 43px 43px 43px 43px;
    -moz-border-radius: 43px 43px 43px 43px;
    -webkit-border-radius: 43px 43px 43px 43px;
    border: 0px solid #000000;
    margin-bottom: 70px;
    -webkit-box-shadow: 46px 45px 39px -27px rgba(0,0,0,0.75);
    -moz-box-shadow: 46px 45px 39px -27px rgba(0,0,0,0.75);
    box-shadow: 46px 45px 39px -27px rgba(0,0,0,0.75);
}
.modo-grid-index1{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width:70%;
    text-align:justify;
    column-gap: 50px;
    margin: 0 auto;
}