/* Css SECTION PARTE INDEX*/
.fondo-section-index{
    background-color: #f5f0e3;
    width:55%;
}
.dimension-tabla-section-index{
    width:100%;
    border-collapse: collapse;
}
.dimension-td-index{
    width:25%;
    margin:0 auto;
    text-align: center;
}
.borde-imagen-index{
    border-radius: 52px 52px 200px 52px;
    -moz-border-radius: 52px 52px 200px 52px;
    -webkit-border-radius: 52px 52px 200px 52px;
    border: 0px solid #000000;
    padding:10px;
    -webkit-box-shadow: 30px 18px 23px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 30px 18px 23px -8px rgba(0,0,0,0.75);
    box-shadow: 30px 18px 23px -8px rgba(0,0,0,0.75);
}
.dimension-imagen-index{
    width:550px;
    height:350px;
    margin:50px;
}
.letra-section-index{
    font-size: 40px;
    text-align: center;
    margin:0 auto;
    color: darkred;
    padding-top:50px;
}
/*CSS SECTION PARTE PRODUCTOS*/
.centrar-iconos-productos{
    margin: 0 auto;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    width:60%;
}
.borde-figura-productos{
    border-radius: 24px 24px 24px 24px;
    -moz-border-radius: 24px 24px 24px 24px;
    -webkit-border-radius: 24px 24px 24px 24px;
    border: 0px solid #000000;
    background-color: rgb(240, 140, 122);
    width:150px;
    height:100px;
    text-align: center;
    line-height: 130px;
    margin: 0 auto;
    margin-right:15px;
    padding:10px;
}
.borde-productos{
    border-radius: 24px 24px 24px 24px;
    -moz-border-radius: 24px 24px 24px 24px;
    -webkit-border-radius: 24px 24px 24px 24px;
    border: 0px solid #000000;
    background-color: rebeccapurple;
    width:400px;
    height:250px;
    text-align: center;
    line-height: 400px;
    margin: 0 auto;
    margin-right:15px;
    padding:10px;
}
.borde-tabla-productos{
    width:100%;
}
.dimension-td-productos{
    width:50%;
    margin:0 auto;
    text-align: center;
}
