.fondo-titulo{
    background-color: #f0134d;
    margin: 0 auto;
    text-align: center;
    width:100%;
    font-size: 32px;
    font-family: 'Roboto Slab', serif;
    color:white;
    padding-top: 50px;
    padding-bottom: 50px;
}